body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 50px;
    color: #243529;
}

.photo{
  border-radius: 50%
}

.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input, textarea, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  width: auto;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}